@use "../util/" as u;
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  // font-size: clamp(u.rem(42), u.rem(16) + 2vw, u.rem(72));
  margin-block-end: u.rem(20);
  // font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  font-size: u.rem(42);
  font-size: clamp(u.rem(40), 1.77rem+3.64vw, u.rem(72));
}
h2 {
  // font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
  // font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25px);
  font-size: u.rem(36);
  font-size: clamp(u.rem(36), 1.91rem + 1.45vw, u.rem(48));
}
h3 {
  font-size: u.rem(24);
}

p {
  margin-top: 0;
  font-size: u.rem(16);
  line-height: 1.3;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
